@charset "UTF-8";
/* 页头 */
.head-show {
  position: fixed;
  width: 1920px;
  height: 0px;
  background: #fff;
  opacity: 0;
  z-index: 2;
}

.wrap-head {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  z-index: 2;
}

.wrap-head .logo > a {
  width: 168px;
  height: 22px;
  background: url(../images/menu_logo.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 25px;
  left: 0;
}

.wrap-head .logo > a.logo_show {
  background: url(../images/menu_logo_hover.png) no-repeat center;
  background-size: 100% 100%;
}

.wrap-head .lang {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 16px;
  color: #fff;
}

.wrap-head .lang .current {
  opacity: 1;
}

.wrap-head .lang > a {
  color: #fff;
  font-size: 16px;
  font-family: "PingFangSC-Regular";
  opacity: 0.7;
}

.wrap-head .lang > a:hover {
  opacity: 1;
}

.wrap-head .lang > a.a_show {
  color: #2b2e2e;
}

.wrap-head .lang > i {
  font-style: italic;
  font-size: 12px;
  margin: 0 3px;
  opacity: 0.7;
  position: relative;
  top: -2px;
}

.wrap-head .lang.lang_show {
  color: #2b2e2e;
}

.head-nav {
  position: absolute;
  width: 672px;
  height: 72px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 308px;
  z-index: 3;
}

.head-nav .nav-item {
  float: left;
  text-align: center;
  margin-left: 72px;
  position: relative;
}

.head-nav .nav-item > .title {
  display: block;
  height: 72px;
  line-height: 72px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  opacity: 0.95;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
  position: relative;
  z-index: 2;
}

.head-nav .nav-item > .title:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #194ac3;
  position: absolute;
  bottom: 19px;
  left: 0;
  opacity: 0;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.head-nav .nav-item:hover .title::after {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.head-nav .nav-item .title_hover {
  color: #2b2e2e;
}

.head-nav .nav-item .nav-hook {
  display: none;
  height: 445px;
  position: absolute;
  left: -36px;
  top: 0px;
  z-index: 1;
}

.head-nav .nav-list {
  display: none;
  width: 160px;
  position: absolute;
  left: 50%;
  text-align: center;
  margin-top: 13px;
  margin-left: -80px;
  z-index: 2;
}

.head-nav .nav-list.list_hover {
  -webkit-animation: list_hover_show 0.2s ease-out;
          animation: list_hover_show 0.2s ease-out;
}

.head-nav .nav-list > li {
  width: 160px;
  height: 50px;
}

.head-nav .nav-list a {
  display: block;
  font-size: 16px;
  color: #2b2e2e;
  opacity: 0.7;
}

.head-nav .nav-list a:hover {
  opacity: 1;
}

@-webkit-keyframes list_hover_show {
  0% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes list_hover_show {
  0% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

/* 页脚 */
.wrap-footer {
  width: 100%;
  height: 480px;
  background: #fbfbfb;
  position: relative;
  z-index: 1;
}

.wrap-footer > .footer-con {
  width: 1200px;
  height: 480px;
  margin: 0px auto;
  position: relative;
}

.wrap-footer .follow_us {
  padding: 33px 0 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f2f3f5;
}

.follow_us > p {
  float: left;
  font-size: 20px;
  color: #5f6464;
  margin-right: 33px;
}

.follow_us li {
  float: left;
  margin-right: 28px;
}

.follow_us li a {
  display: block;
  position: relative;
}

.follow_us li a:hover .wechat {
  background: url(../images/icon_wechat_hover.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li a:hover .wechat + img {
  display: block;
  opacity: 1;
}

.follow_us li a:hover .weibo {
  background: url(../images/icon_weibo_hover.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li a:hover .twitter {
  background: url(../images/icon_twitter_hover.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li a:hover .in {
  background: url(../images/icon_in_hover.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li .icon {
  display: block;
  width: 28px;
  height: 28px;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.follow_us li .wechat {
  background: url(../images/icon_wechat.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li .wechat + img {
  display: block;
  width: 176px;
  position: absolute;
  left: 0;
  top: -186px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  pointer-events: none;
}

.follow_us li .weibo {
  background: url(../images/icon_weibo.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li .twitter {
  background: url(../images/icon_twitter.png) no-repeat;
  background-size: 100% 100%;
}

.follow_us li .in {
  background: url(../images/icon_in.png) no-repeat;
  background-size: 100% 100%;
}

.join_us,
.contact_us,
.legal_info {
  float: left;
  width: 216px;
}

.join_us h3,
.contact_us h3,
.legal_info h3 {
  color: #5f6464;
  font-size: 20px;
  margin-bottom: 30px;
}

.join_us li > a,
.contact_us li > a,
.legal_info li > a {
  display: block;
  color: #5f6464;
  font-size: 16px;
  margin-bottom: 18px;
}

.logo_tencent {
  height: 28px;
  width: 212px;
  position: absolute;
  right: 75px;
  top: 219px;
}

.logo_tencent img {
  width: 100%;
}

.footer-bottom {
  width: 100%;
  position: absolute;
  bottom: 51px;
  left: 0px;
}

.footer-bottom .links {
  float: left;
}

.footer-bottom .links li {
  float: left;
  margin-right: 20px;
}

.footer-bottom .links li > a {
  color: #5f6464;
  font-size: 14px;
}

.footer-bottom .copyright {
  float: right;
  font-size: 14px;
  color: #5f6464;
}

.footer-bottom .copyright .cr_br {
  display: none;
}
/*# sourceMappingURL=base.css.map */