body {
    color: #fff;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'PingFangSC-Regular',
        'helvetica neue',
        tahoma,
        'PingFang SC',
        'microsoft yahei',
        arial,
        'hiragino sans gb',
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* TencentSansw3字体 */
@font-face {
    font-family: 'TencentSansw3';
    src: url('../fonts/TencentSans-W3.eot');
    src:
        url('../fonts/TencentSans-W3.eot?#font-spider') format('embedded-opentype'),
        url('../fonts/TencentSans-W3.woff') format('woff'),
        url('../fonts/TencentSans-W3.ttf') format('truetype'),
        url('../fonts/TencentSans-W3.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* TencentSansw7字体 */
@font-face {
    font-family: 'TencentSansw7';
    src: url('../fonts/TencentSans-W7.eot');
    src:
        url('../fonts/TencentSans-W7.eot?#font-spider') format('embedded-opentype'),
        url('../fonts/TencentSans-W7.woff') format('woff'),
        url('../fonts/TencentSans-W7.ttf') format('truetype'),
        url('../fonts/TencentSans-W7.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* 页头内容版心 */
.head-con {
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* 页脚内容版心 */




/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}