.wrap {}

// 主体
.wrap-main {
    width: 100%;
    margin-top: 72px;

    .main-con {
        width: 100%;
    }
}

// 激发**
.main-top {
    width: 100%;
    height: 482px;
    background: url(../images/employees/student-1.jpg) no-repeat;
    background-size: cover;

    .main-top-con {
        width: 1200px;
        margin: 0 auto;
        padding-top: 120px;

        >h2 {
            color: #2A2E2E;
            font-size: 44px;
            font-family: 'TencentSansw3';
            margin-bottom: 8px;
        }

        >p {
            color: #2A2E2E;
            font-size: 16px;
            line-height: 29px;
            margin-bottom: 27px;
        }
    }
}

// 人才发展 腾讯学院
.brand-item {
    width: 100%;

    &.white-bg {
        padding: 96px 0;
        background-color: #fff;
    }

    &.gray-bg {
        padding: 96px 0;
        background-color: #fbfbfb;
    }

    .brand-con {
        width: 1200px;
        margin: 0 auto;
    }

    .active-box {
        margin-bottom: 96px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        .img-bg {
            width: 100%;
        }
    }

    .txt-box {
        width: 514px;
        padding: 64px 88px 88px 64px;
        box-sizing: border-box;
        background-color: #FBFBFB;
        position: absolute;
        top: 94px;

        &.left-box {
            left: -24px;
        }

        &.right-box {
            width: 664px;
            right: -24px;
            padding: 64px 64px 88px 88px;

            >.desc {
                width: 100%;
            }
        }

        h3 {
            color: #2A2E2E;
            font-size: 30px;
            font-family: 'TencentSansw7';
            line-height: 45px;

            >img {
                width: 216px;
            }
        }

        h4 {
            color: #2A2E2E;
            font-size: 20px;
            line-height: 30px;
            margin-top: 16px;
            margin-bottom: 4px;
        }

        .desc {
            width: 362px;
            color: #5F6464;
            font-size: 14px;
            line-height: 25px;
        }
    }
}

// 工作环境
.brand-item {
    .tit {
        width: 100%;
        color: #2a2e2e;
        font-size: 30px;
        font-family: 'TencentSansw7';
        text-align: center;
        margin-bottom: 44px;
        overflow: hidden;
    }

    .mess-box {
        width: 100%;

        .item {
            float: left;
            width: 49%;

            &.item-r {
                float: right;
            }
        }

        .pic {
            width: 100%;
        }

        h4 {
            color: #2A2E2E;
            font-size: 20px;
            font-weight: 700;
            line-height: 36px;
            margin-top: 24px;
            margin-bottom: 8px;
        }

        .desc {
            color: #5F6464;
            font-size: 14px;
            line-height: 25px;
        }
    }
}

// 员工活动
.brand-item {
    .activ-con {
        margin-bottom: 44px;

        h3 {
            float: left;
            min-width: 240px;
            color: #2a2e2e;
            font-size: 30px;
            font-family: 'TencentSansw7';
            margin-right: 20px;
        }

        .desc {
            color: #5f6464;
            font-size: 14px;
            line-height: 25px;
            padding-top: 17px;
            overflow: hidden;
        }
    }
}

.brand-item-activ {
    width: 100%;

    .activity {
        width: 100%;
    }
}

.activity {
    .row {
        width: 100%;
    }

    .item {
        float: left;
        height: 271px;
        padding: 40px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        &:hover {

            .label {
                opacity: 1;
                transform: translate(0, 0);
            }

            .mask {
                transform: translate(0, 0);
            }
        }

        .title {
            color: #fff;
            font-size: 30px;
            margin-bottom: 25px;
            font-family: 'TencentSansw7';
            position: relative;
            z-index: 1;
        }

        .mask {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s cubic-bezier(0.2, 0.0, 0.2, 1);
            transform: translate(0, 271px);
        }

        .label {
            color: #fff;
            font-size: 16px;
            line-height: 26px;
            // margin-top: 25px;
            margin-right: 40px;
            opacity: 0;
            transform: translate(0, 80px);
            position: relative;
            z-index: 1;
            transition: transform .5s cubic-bezier(0.2, 0.0, 0.2, 1),
                opacity .3s cubic-bezier(0.2, 0.0, 0.2, 1);
        }
    }

    .item-1 {
        width: 66.666%;
        background: url(../images/employees/txt-1-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: rgba(0, 82, 217, 1);
        }
    }

    .item-2 {
        width: 33.333%;
        background: url(../images/employees/txt-2-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: #9B26B6;
        }
    }

    .item-3 {
        width: 33.333%;
        background: url(../images/employees/txt-3-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: #00A9CE;
        }
    }

    .item-4 {
        width: 33.333%;
        background: url(../images/employees/txt-4-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: rgba(255, 103, 31, 1);
        }
    }

    .item-5 {
        width: 33.333%;
        background: url(../images/employees/txt-5-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: #00A9CE;
        }
    }

    .item-6 {
        width: 33.333%;
        background: url(../images/employees/txt-6-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: rgba(150, 140, 131, 1);
        }
    }

    .item-7 {
        width: 66.666%;
        background: url(../images/employees/txt-7-bg.jpg) no-repeat center;
        background-size: cover;

        .mask {
            background-color: rgba(121, 192, 0, 1);
        }
    }
}

// 加入我们
.join-us {
    width: 100%;
    margin-bottom: 96px;

    .join-con {
        width: 1200px;
        margin: 0 auto;
    }

    .join-link {
        width: 100%;
        position: relative;

        >a {
            display: block;
        }

        .link-bg {
            width: 100%;
        }

        .txt {
            position: absolute;
            top: 132px;
            left: 78px;
        }
    }

    .txt {
        h2 {
            color: #2a2e2e;
            font-size: 30px;
            font-family: 'TencentSansw7';
            margin-bottom: 16px;
        }

        .url {
            float: left;
            color: #0052d9;
            font-size: 20px;
            font-weight: 500;
            line-height: 36px;
        }

        .go-icon {
            float: left;
            margin-top: 10px;
            margin-left: 9px;

            >img {
                width: 19px;
            }
        }
    }

}