.wrap-main {
  width: 100%;
  margin-top: 72px;
}

.wrap-main .main-con {
  width: 100%;
}

.main-top {
  width: 100%;
  height: 482px;
  background: url(../images/investors/investor-1.jpg) no-repeat center;
  background-size: cover;
}

.main-top .main-top-con {
  width: 1200px;
  margin: 0 auto;
  padding-top: 202px;
}

.main-top .main-top-con > h2 {
  color: #2A2E2E;
  font-size: 44px;
  font-family: 'TencentSansw3';
  margin-bottom: 8px;
}

.main-top .main-top-con > p {
  color: #2A2E2E;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 27px;
}

.mod-elevator {
  width: 100%;
  height: 54px;
  position: relative;
  background-color: #fbfbfb;
}

.mod-elevator .ele-navigation {
  width: 100%;
  height: 54px;
  background-color: #fbfbfb;
  position: absolute;
  top: 0;
  left: 0;
}

.mod-elevator .ele-navigation.fixed {
  position: fixed;
  z-index: 66;
}

.mod-elevator .ele-nav-list {
  width: 1200px;
  height: 53px;
  margin: 0 auto;
  position: relative;
  left: 16px;
}

.mod-elevator .ele-nav-list > li {
  display: inline-block;
  margin-right: 56px;
}

.mod-elevator .ele-nav-list > li > a {
  height: 53px;
  line-height: 53px;
  font-size: 16px;
}

.mod-elevator .ele-nav-list .underline {
  width: 64px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0052d9;
}

.mod-ele-content {
  width: 100%;
}

.mod-ele-content .brand-item {
  width: 100%;
}

.mod-ele-content .brand-item.white-bg {
  padding: 96px 0;
  background-color: #fff;
}

.mod-ele-content .brand-item.gray-bg {
  padding: 96px 0;
  background-color: #fbfbfb;
}

.mod-ele-content .brand-con {
  width: 1200px;
  margin: 0 auto;
}

.brand-item-fnews .title > h3 {
  float: left;
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
}

.brand-item-fnews .title > .lookall {
  float: right;
  color: #5F6464;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
}

.brand-item-fnews .title > .lookall > i {
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url(../images/investors/more-awart.png) no-repeat center;
  background-size: 100% 100%;
  margin-left: 10px;
}

.brand-item-fnews .news-box {
  width: 100%;
  margin-top: 32px;
}

.brand-item-fnews .news-box .new-item {
  width: 49%;
  background: #fff;
  border: 1px solid #efefef;
  padding: 32px 45px 41px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand-item-fnews .news-box .new-item.l-box {
  float: left;
}

.brand-item-fnews .news-box .new-item.r-box {
  float: right;
}

.brand-item-fnews .new-item h4 {
  color: #5f6464;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding-left: 32px;
}

.brand-item-fnews .new-item .new-list {
  margin-top: 40px;
}

.brand-item-fnews .new-item li {
  width: 100%;
  min-height: 93px;
  margin-bottom: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.brand-item-fnews .new-item li:last-child {
  margin-bottom: 0;
}

.brand-item-fnews .new-item li .mess {
  width: 82%;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.brand-item-fnews .new-item li .tit {
  width: 100%;
  color: #2A2E2E;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.01px;
  line-height: 30px;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}

.brand-item-fnews .new-item li .abstract {
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
}

.brand-item-fnews .new-item li .abstract-link {
  display: block;
  color: #0052d9;
  font-size: 16px;
  font-weight: bold;
}

.brand-item-fnews .new-item li .abstract-link > span {
  float: left;
}

.brand-item-fnews .new-item li .blue-awart {
  float: left;
  width: 20px;
  margin-top: 2px;
  margin-left: 3px;
}

.brand-item-fnews .new-item li .data {
  width: 100%;
  color: #919797;
  font-size: 16px;
  line-height: 29px;
}

.brand-item-fnews .new-item li .line {
  display: none;
  width: 6px;
  height: 100%;
  background: #0052D9;
  position: absolute;
  left: -1px;
  top: 0;
}

.brand-item-fnews .new-item li .down-icon {
  display: none;
  width: 36px;
  height: 36px;
  background: url(../images/investors/down-icon.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 12px;
}

.brand-item-fnews .new-item li:hover .line {
  display: block;
}

.brand-item-fnews .new-item li:hover .down-icon {
  display: block;
}

.brand-item-ntrt h3 {
  width: 100%;
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F3F5;
  margin-bottom: 50px;
}

.brand-item-ntrt .ntcrpt {
  width: 100%;
}

.brand-item-ntrt .ntcrpt h4 {
  float: left;
  color: #2A2E2E;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.brand-item-ntrt .ntcrpt .lookall {
  float: right;
  color: #5F6464;
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}

.brand-item-ntrt .ntcrpt .lookall > i {
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url(../images/investors/more-awart.png) no-repeat center;
  background-size: 100% 100%;
  margin-left: 10px;
}

.brand-item-ntrt .title {
  width: 100%;
  margin-bottom: 24px;
}

.brand-item-ntrt .ntc {
  float: left;
  width: 47%;
}

.brand-item-ntrt .ntc .ntc-box {
  width: 100%;
  height: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EFEFEF;
  padding: 32px 42px 0px 32px;
  background-color: #fff;
}

.brand-item-ntrt .ntc .ntc-list > li {
  margin-bottom: 24px;
}

.brand-item-ntrt .ntc .ntc-list > li:last-child {
  margin-bottom: 0;
}

.brand-item-ntrt .ntc .ind-bg {
  float: left;
  width: 21px;
  height: 20px;
  color: #fff;
  background: url(../images/investors/ind-bg.png) no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-family: 'TencentSansw7';
  margin-top: 5px;
  margin-right: 24px;
}

.brand-item-ntrt .ntc .mess {
  overflow: hidden;
}

.brand-item-ntrt .ntc .mess > a {
  display: block;
}

.brand-item-ntrt .ntc .tit {
  color: #2A2E2E;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.brand-item-ntrt .ntc .data {
  color: #919797;
  font-size: 14px;
  line-height: 25px;
}

.brand-item-ntrt .rpt {
  float: right;
  width: 560px;
}

.brand-item-ntrt .rpt-box .l-box {
  float: left;
  width: 80px;
  height: 290px;
  margin-left: 10px;
  position: relative;
}

.brand-item-ntrt .rpt-box .l-box > .line {
  width: 1px;
  background-color: #d8d9dc;
  position: absolute;
  top: 68px;
  bottom: 60px;
}

.brand-item-ntrt .rpt-box .l-box > .line > img {
  width: 1px;
  position: absolute;
  bottom: -72px;
  left: 0;
}

.brand-item-ntrt .rpt-box .l-box > .y-node {
  position: absolute;
  left: -2px;
  overflow: hidden;
}

.brand-item-ntrt .rpt-box .l-box > .y-node-1 {
  top: 50px;
}

.brand-item-ntrt .rpt-box .l-box > .y-node-2 {
  top: 220px;
}

.brand-item-ntrt .rpt-box .l-box .dot {
  float: left;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #919797;
  margin-top: 13px;
}

.brand-item-ntrt .rpt-box .l-box span {
  float: left;
  color: #919797;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  padding-left: 12px;
}

.brand-item-ntrt .rpt-box .rpt-list > li {
  float: left;
  background: #fff;
  -webkit-box-shadow: 8px 8px 0 0 #F2F3F5;
          box-shadow: 8px 8px 0 0 #F2F3F5;
}

.brand-item-ntrt .rpt-box .rpt-list > li:nth-child(2n-1) {
  margin-right: 32px;
}

.brand-item-ntrt .rpt-box .rpt-list > li:nth-last-child(-n+2) {
  margin-top: 20px;
}

.brand-item-ntrt .rpt-box .rpt-list > li:hover .down-icon {
  display: block;
}

.brand-item-ntrt .rpt-box .rpt-list > li > a {
  display: block;
  width: 210px;
  height: 130px;
  padding: 32px 0 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.brand-item-ntrt .rpt-box .rpt-list .y-label {
  width: 100%;
  overflow: hidden;
}

.brand-item-ntrt .rpt-box .rpt-list .year {
  float: left;
  color: #212525;
  font-size: 24px;
  font-family: 'TencentSansw7';
}

.brand-item-ntrt .rpt-box .rpt-list .type-bg {
  float: left;
  height: 20px;
  min-width: 35px;
  color: #fff;
  background: url(../images/investors/type-bg.png) no-repeat center;
  background-size: 100% 100%;
  font-size: 12px;
  font-family: 'TencentSansw7';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 20px;
  margin-left: 4px;
  margin-top: 11px;
}

.brand-item-ntrt .rpt-box .rpt-list .type-txt {
  color: #5F6464;
  font-size: 14px;
  line-height: 25px;
  margin-top: 4px;
}

.brand-item-ntrt .rpt-box .rpt-list .down-icon {
  display: none;
  width: 36px;
  height: 36px;
  background: url(../images/investors/down-icon.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 46px;
  right: 26px;
}

.brand-item-phmeet {
  padding-top: 72px !important;
}

.brand-item-phmeet h3 {
  width: 100%;
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F3F5;
  margin-bottom: 50px;
}

.brand-item-phmeet .phmeet {
  width: 100%;
}

.brand-item-phmeet .phmeet .l-box {
  float: left;
  width: 47.5%;
}

.brand-item-phmeet .phmeet .r-box {
  float: right;
  width: 560px;
}

.brand-item-phmeet .phmeet .title {
  width: 100%;
  margin-bottom: 24px;
}

.brand-item-phmeet .phmeet h4 {
  float: left;
  color: #2A2E2E;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.brand-item-phmeet .phmeet .lookall {
  float: right;
  color: #5F6464;
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}

.brand-item-phmeet .phmeet .lookall > i {
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url(../images/investors/more-awart.png) no-repeat center;
  background-size: 100% 100%;
  margin-left: 10px;
}

.brand-item-phmeet .phmeet-box {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EFEFEF;
  min-height: 404px;
}

.brand-item-phmeet .phmeet-box .tit {
  height: 60px;
  color: #2A2E2E;
  font-size: 20px;
  font-weight: bold;
  padding: 0 42px;
  border-bottom: 1px solid #F2F3F5;
  line-height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.brand-item-phmeet .phmeet-box > .item {
  margin-top: 6px;
  padding-left: 42px;
}

.brand-item-phmeet .phmeet-box > .item.first-item {
  margin-top: 8px;
}

.brand-item-phmeet .phmeet-box .label {
  float: left;
  color: #2A2E2E;
  min-width: 64px;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  margin-right: 32px;
}

.brand-item-phmeet .phmeet-box .val {
  color: #2A2E2E;
  font-size: 16px;
  line-height: 29px;
  overflow: hidden;
}

.brand-item-phmeet .phmeet-box .play-icon {
  display: block;
}

.brand-item-phmeet .phmeet-box .play-icon > img {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}

.brand-item-phmeet .phmeet-box .tel-mess span {
  display: inline-block;
  min-width: 70px;
  text-align: justify;
  text-align-last: justify;
}

.brand-item-phmeet .ivcal-box {
  width: 100%;
  min-height: 404px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EFEFEF;
  padding-bottom: 32px;
  position: relative;
}

.brand-item-phmeet .ivcal-box .tab-list {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F3F5;
}

.brand-item-phmeet .ivcal-box .tab-list > li {
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.brand-item-phmeet .ivcal-box .tab-list > li.active-tab > span {
  border-bottom: 2px solid #0052D9;
}

.brand-item-phmeet .ivcal-box .tab-list span {
  display: inline-block;
  height: 55px;
  color: #2A2E2E;
  font-size: 16px;
  line-height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand-item-phmeet .ivcal-box .tab-con > li {
  display: none;
}

.brand-item-phmeet .ivcal-box .tab-con > li.active-con {
  display: block;
}

.brand-item-phmeet .ivcal-box .step-line {
  width: 1px;
  background: #D8D9DC;
  margin-left: 6.95%;
  margin-right: 6%;
  position: absolute;
  top: 91px;
  bottom: 72px;
  left: 0;
}

.brand-item-phmeet .ivcal-box .step-line > img {
  position: absolute;
  bottom: -72px;
  width: 1px;
}

.brand-item-phmeet .ivcal-box .step-box {
  width: 87%;
  float: right;
}

.brand-item-phmeet .ivcal-box .step-box .item {
  padding-right: 40px;
  margin-top: 24px;
  position: relative;
  cursor: pointer;
}

.brand-item-phmeet .ivcal-box .step-box .item.up .more-icon {
  -webkit-animation: more-icon-up 0.4s linear forwards;
          animation: more-icon-up 0.4s linear forwards;
}

.brand-item-phmeet .ivcal-box .step-box .item.down .more-icon {
  -webkit-animation: more-icon-down 0.4s linear forwards;
          animation: more-icon-down 0.4s linear forwards;
}

@-webkit-keyframes more-icon-up {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes more-icon-up {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes more-icon-down {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes more-icon-down {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.brand-item-phmeet .ivcal-box .step-box .first-item {
  margin-top: 22px;
}

.brand-item-phmeet .ivcal-box .step-box .dot {
  width: 5px;
  height: 5px;
  background: #5f6464;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -7.4%;
}

.brand-item-phmeet .ivcal-box .step-box .tit {
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
}

.brand-item-phmeet .ivcal-box .step-box .tit > .t {
  float: left;
  width: 395px;
  color: #2A2E2E;
  font-size: 16px;
  line-height: 29px;
  overflow: hidden;
}

.brand-item-phmeet .ivcal-box .step-box .tit > .more-icon {
  float: right;
  width: 16px;
  margin-top: 12px;
}

.brand-item-phmeet .ivcal-box .step-box .mess {
  width: 100%;
}

.brand-item-phmeet .ivcal-box .step-box .mess p {
  color: #5F6464;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
}

.brand-item-phmeet .ivcal-box .step-box .data > p {
  color: #2A2E2E;
}

.brand-item-phmeet .ivcal-box .step-box .data-icon {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 7px;
}

.brand-item-phmeet .ivcal-box .step-box .detail {
  display: none;
}

.brand-item-phmeet .ivcal-box .step-box .detail > li {
  margin-top: 9px;
  overflow: hidden;
}

.brand-item-phmeet .ivcal-box .step-box .icon {
  float: left;
  width: 15px;
  margin-top: 4px;
  padding-right: 8px;
}

.brand-item-toolkit {
  padding-bottom: 64px !important;
}

.brand-item-toolkit h3 {
  width: 100%;
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
  margin-bottom: 32px;
}

.brand-item-toolkit .tool-list > li {
  float: left;
  width: 180px;
  height: 180px;
  text-align: center;
  margin-right: 24px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.brand-item-toolkit .tool-list > li:hover {
  background-color: #fff;
}

.brand-item-toolkit .tool-list > li > a {
  display: block;
}

.brand-item-toolkit .tool-list > li img {
  height: 60px;
  margin: 43px auto 0;
}

.brand-item-toolkit .tool-list > li .label {
  color: #2A2E2E;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.01px;
  margin-top: 12px;
}

.brand-item-stock .title > h3,
.brand-item-cpgv .title > h3 {
  float: left;
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
}

.brand-item-stock .title > .title-logo,
.brand-item-cpgv .title > .title-logo {
  float: right;
  width: 165px;
  margin-top: 10px;
}

.brand-item-stock .tit-label,
.brand-item-cpgv .tit-label {
  width: 100%;
  color: #2A2E2E;
  font-size: 20px;
  line-height: 36px;
  margin-top: 8px;
  margin-bottom: 72px;
}

.brand-item-stock .stock-box,
.brand-item-cpgv .stock-box {
  width: 100%;
}

.brand-item-stock .stock-l-box,
.brand-item-cpgv .stock-l-box {
  float: left;
  width: 50%;
}

.brand-item-stock .stock-l-box > .l-mess,
.brand-item-cpgv .stock-l-box > .l-mess {
  float: left;
  width: 50%;
}

.brand-item-stock .stock-l-box > .l-mess .price-label,
.brand-item-cpgv .stock-l-box > .l-mess .price-label {
  color: #5F6464;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 80px;
}

.brand-item-stock .stock-l-box > .l-mess .hkd-box,
.brand-item-cpgv .stock-l-box > .l-mess .hkd-box {
  overflow: hidden;
}

.brand-item-stock .stock-l-box > .l-mess .hkd-label,
.brand-item-cpgv .stock-l-box > .l-mess .hkd-label {
  float: left;
  color: #2A2E2E;
  font-size: 16px;
  font-family: 'TencentSansw7';
  line-height: 29px;
  margin-top: 25px;
}

.brand-item-stock .stock-l-box > .l-mess .now-price,
.brand-item-cpgv .stock-l-box > .l-mess .now-price {
  float: left;
  color: #2A2E2E;
  font-size: 44px;
  font-family: 'TencentSansw7';
  line-height: 54px;
  margin-left: 12px;
}

.brand-item-stock .stock-l-box > .l-mess .fd-box,
.brand-item-cpgv .stock-l-box > .l-mess .fd-box {
  margin-top: 13px;
  overflow: hidden;
}

.brand-item-stock .stock-l-box > .l-mess .fd-box > img,
.brand-item-cpgv .stock-l-box > .l-mess .fd-box > img {
  display: none;
  float: left;
  width: 20px;
  margin-top: 3px;
  margin-right: 7px;
}

.brand-item-stock .stock-l-box > .l-mess .fd-box > .label,
.brand-item-cpgv .stock-l-box > .l-mess .fd-box > .label {
  float: left;
  color: #488F34;
  font-size: 14px;
  font-family: 'TencentSansw7';
}

.brand-item-stock .stock-l-box > .l-mess .fd-box > .label.up,
.brand-item-cpgv .stock-l-box > .l-mess .fd-box > .label.up {
  color: #488F34;
}

.brand-item-stock .stock-l-box > .l-mess .fd-box > .label.down,
.brand-item-cpgv .stock-l-box > .l-mess .fd-box > .label.down {
  color: #ff3e00;
}

.brand-item-stock .stock-l-box .r-mess,
.brand-item-cpgv .stock-l-box .r-mess {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
  padding-left: 16px;
}

.brand-item-stock .stock-l-box .r-mess li,
.brand-item-cpgv .stock-l-box .r-mess li {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.brand-item-stock .stock-l-box .r-mess .label,
.brand-item-cpgv .stock-l-box .r-mess .label {
  float: left;
  width: 110px;
  color: #5F6464;
  font-size: 14px;
  margin-top: 7px;
}

.brand-item-stock .stock-l-box .r-mess .val,
.brand-item-cpgv .stock-l-box .r-mess .val {
  float: left;
}

.brand-item-stock .stock-l-box .r-mess .num,
.brand-item-cpgv .stock-l-box .r-mess .num {
  color: #2A2E2E;
  font-size: 20px;
}

.brand-item-stock .stock-l-box .r-mess .measure,
.brand-item-cpgv .stock-l-box .r-mess .measure {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}

.brand-item-stock .stock-r-box,
.brand-item-cpgv .stock-r-box {
  float: right;
  width: 50%;
}

.brand-item-stock .stock-r-box .other-box,
.brand-item-cpgv .stock-r-box .other-box {
  width: 80%;
  margin-top: 132px;
  padding-left: 120px;
  overflow: hidden;
}

.brand-item-stock .stock-r-box .other-box:first-child,
.brand-item-cpgv .stock-r-box .other-box:first-child {
  margin-top: 0;
}

.brand-item-stock .stock-r-box .other-icon,
.brand-item-cpgv .stock-r-box .other-icon {
  float: left;
  margin-right: 35px;
}

.brand-item-stock .stock-r-box .other-icon > img,
.brand-item-cpgv .stock-r-box .other-icon > img {
  width: 60px;
}

.brand-item-stock .stock-r-box .mess,
.brand-item-cpgv .stock-r-box .mess {
  overflow: hidden;
}

.brand-item-stock .stock-r-box .mess > a,
.brand-item-cpgv .stock-r-box .mess > a {
  display: block;
}

.brand-item-stock .stock-r-box .mess .desc,
.brand-item-cpgv .stock-r-box .mess .desc {
  color: #2A2E2E;
  font-size: 20px;
  letter-spacing: -0.01px;
  margin-bottom: 15px;
}

.brand-item-stock .stock-r-box .mess img,
.brand-item-cpgv .stock-r-box .mess img {
  display: inline;
  width: 36px;
  vertical-align: bottom;
}

.brand-item-cpgv .stock-l-box h3 {
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
  padding-top: 71px;
}

.brand-item-cpgv .stock-l-box .desc-txt {
  width: 100%;
  color: #5F6464;
  font-size: 14px;
  line-height: 25.2px;
  margin-top: 16px;
}

.link-box a {
  display: block;
  position: relative;
}

.link-box .jons-bg {
  width: 100%;
}

.link-box .mess {
  position: absolute;
  top: 35px;
  left: 78px;
}

.link-box .mess > h2 {
  color: #2a2e2e;
  font-size: 30px;
  font-family: 'TencentSansw7';
}

.link-box .go-link {
  line-height: 36px;
  margin-top: 16px;
}

.link-box .go-link > .label {
  float: left;
  color: #0052d9;
  font-size: 20px;
  font-weight: 500;
  margin-right: 9px;
}

.link-box .go-link > .go-icon {
  height: 36px;
  overflow: hidden;
}

.link-box .go-link > .go-icon > img {
  width: 19px;
  margin-top: 10px;
}

.link-box .bbox {
  width: 100%;
  margin-top: 24px;
}

.link-box .bbox:hover .code-img {
  display: block;
}

.link-box .bbox > .b-label {
  color: #2a2e2e;
  font-size: 16px;
  line-height: 29px;
}

.link-box .bbox > .email {
  color: #0052D9;
  font-size: 20px;
  line-height: 36px;
}

.link-box .bbox > .code-img {
  display: none;
  width: 80px;
}
/*# sourceMappingURL=investors.css.map */