body {
    height: 6333px;
}

.wrap {}

// 主体
.wrap-main {
    width: 100%;
    margin-top: 72px;

    .main-con {
        width: 100%;
    }
}

// 连接投资者
.main-top {
    width: 100%;
    height: 482px;
    background: url(../images/investors/investor-1.jpg) no-repeat center;
    background-size: cover;

    .main-top-con {
        width: 1200px;
        margin: 0 auto;
        padding-top: 202px;

        >h2 {
            color: #2A2E2E;
            font-size: 44px;
            font-family: 'TencentSansw3';
            margin-bottom: 8px;
        }

        >p {
            color: #2A2E2E;
            font-size: 16px;
            line-height: 29px;
            margin-bottom: 27px;
        }
    }
}

// elevator导航
.mod-elevator {
    width: 100%;
    height: 54px;
    position: relative;
    background-color: #fbfbfb;

    .ele-navigation {
        width: 100%;
        height: 54px;
        background-color: #fbfbfb;
        position: absolute;
        top: 0;
        left: 0;

        &.fixed {
            position: fixed;
            z-index: 66;
        }
    }

    .ele-nav-list {
        width: 1200px;
        height: 53px;
        margin: 0 auto;
        position: relative;
        left: 16px;
    }

    .ele-nav-list {

        >li {
            display: inline-block;
            margin-right: 56px;

            >a {
                height: 53px;
                line-height: 53px;
                font-size: 16px;
            }
        }

        .underline {
            width: 64px;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #0052d9;
        }
    }
}

// elevator导航内容
.mod-ele-content {
    width: 100%;

    .brand-item {
        width: 100%;

        &.white-bg {
            padding: 96px 0;
            background-color: #fff;
        }

        &.gray-bg {
            padding: 96px 0;
            background-color: #fbfbfb;
        }
    }

    .brand-con {
        width: 1200px;
        margin: 0 auto;
    }

}

// 财务新闻
.brand-item-fnews {
    .title {
        >h3 {
            float: left;
            color: #2a2e2e;
            font-size: 30px;
            font-family: 'TencentSansw7';
        }

        >.lookall {
            float: right;
            color: #5F6464;
            font-size: 16px;
            font-weight: bold;
            margin-top: 12px;

            >i {
                display: inline-block;
                width: 8px;
                height: 14px;
                background: url(../images/investors/more-awart.png) no-repeat center;
                background-size: 100% 100%;
                margin-left: 10px;
            }
        }
    }

    .news-box {
        width: 100%;
        margin-top: 32px;

        .new-item {
            width: 49%;
            background: #fff;
            border: 1px solid #efefef;
            padding: 32px 45px 41px 0;
            box-sizing: border-box;

            &.l-box {
                float: left;
            }

            &.r-box {
                float: right;
            }
        }
    }

    .new-item {
        h4 {
            color: #5f6464;
            font-size: 16px;
            font-weight: bold;
            line-height: 25px;
            padding-left: 32px;
        }

        .new-list {
            margin-top: 40px;
        }

        li {
            width: 100%;
            min-height: 91px;
            margin-bottom: 25px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            .mess {
                width: 82%;
                padding-left: 32px;
                box-sizing: border-box;
                position: relative;
            }

            .tit {
                width: 100%;
                color: #2A2E2E;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: -0.01px;
                line-height: 30px;
                margin-bottom: 4px;
                // 一行显示 省略号
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-word;
            }

            .abstract {
                width: 100%;
                margin-bottom: 4px;
                overflow: hidden;
            }

            .abstract-link {
                display: block;
                color: #0052d9;
                font-size: 16px;
                font-weight: bold;

                >span {
                    float: left;
                }
            }

            .blue-awart {
                float: left;
                width: 20px;
                margin-top: 2px;
                margin-left: 3px;
            }

            .data {
                width: 100%;
                color: #919797;
                font-size: 16px;
                line-height: 29px;
            }

            .line {
                display: none;
                width: 6px;
                height: 100%;
                background: #0052D9;
                position: absolute;
                left: -1px;
                top: 0;
            }

            .down-icon {
                display: none;
                width: 36px;
                height: 36px;
                background: url(../images/investors/down-icon.png) no-repeat center;
                background-size: 100% 100%;
                position: absolute;
                right: 0;
                top: 12px;
            }

            &:hover {
                .line {
                    display: block;
                }

                .down-icon {
                    display: block;
                }
            }
        }
    }
}